  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  h3, h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: #111;
  }
  .container {
      padding: 40px 120px;
  }

  .main-image {
      background-color: #2d2d30;
      padding-top: 80px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 450px;
      padding-bottom: 40px;
  }

  .row {
    display: block;
    margin-left: 280px;
    margin-bottom: 40px;
  }
   .myButton {
    margin-right: 10px;
  }
  .detail-summary {
    margin-left: 280px;
  }
  .btn {
      padding: 10px 20px;
      background-color: #7B6866;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }

  .btn.active {
    background-color: #434848;
  }
  .nav-tabs li a {
      color: #777;
  }
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }  
  .form-control {
      border-radius: 0;
  }

