
body {
 font: 400 15px/1.8 Lato, sans-serif;
 color: #777;
}
.btn.women {
    background-color: rgb(124, 181, 236);
}
.btn.men {
    background-color: rgb(67, 67, 72);
   color: #f1f1f1  ;

}
.btn.no-bias {
    background-color: rgba(0, 255, 0, 0.7);
}
.btn.one-bias {
    background-color: yellow;
}
.btn.five-bias {
    background-color: orange;
}
.btn.ten-bias {
    background-color: rgba(255, 0, 0, 0.7);
}
 .header-text {
   color: white;
   float: left;
   text-align: left;
}
 .subheading {
   font-size: 20px;
   line-height: 1.2em;
}
 .heading {
 font-size: 63px;
 margin-bottom: 0;
 margin-top: 0;
}
 h3, h4 {
   margin: 10px 0 15px 0;
   letter-spacing: 6px;
   font-size: 20px;
   color: #111;
}
 .main-image img {
   float: right;
   margin-right: 15px;
}
 .background-container {
   padding-left: 270px;
   padding-bottom: 20px;
   padding-right: 200px;
   background-color: #e6e6e6;
}
 .chart-container {
   min-width: 310px;
   height: 400px;
   margin-bottom: 10px;
}
 .header {
   background-color: #2d2d30  ;
}
 .header-content {
   min-height: 175px;
   text-align: center;
   padding: 20px 40px;
   width: 795px;
   margin: 0 auto;
}
 .header-content img {
 width: 175px;
}
 .bullets {
   margin-left: 20px;
}
 .row {
   display: block;
   margin-left: 280px;
   margin-bottom: 40px;
}
 .myButton {
   margin-right: 10px;
}
 .detail-summary {
   margin-left: 280px;
   margin-bottom: 30px;
}
 .btn {
   padding: 10px 20px;
   background-color: #808080;
   border-radius: 0;
   transition: .2s;
   color: black;
}
 .nav-tabs li a {
   color: #777;
}
 .navbar {
   font-family: Montserrat, sans-serif;
   margin-bottom: 0;
   background-color: #2d2d30  ;
   border: 0;
   font-size: 11px !important;
   letter-spacing: 4px;
   opacity: 0.7;
}
 .navbar li a, .navbar .navbar-brand {
   color: #d5d5d5   !important;
}
 .navbar-nav li a:hover {
   color: #fff !important;
}
 .navbar-nav li.active a {
   color: #fff !important;
   background-color: #29292c   !important;
}
 .navbar-default .navbar-toggle {
   border-color: transparent;
}
 .open .dropdown-toggle {
   color: #fff;
   background-color: #555 !important;
}
 footer {
   background-color: #2d2d30  ;
   color: #f5f5f5  ;
   padding: 32px;
}
 footer a {
   color: #f5f5f5  ;
}
 footer a:hover {
   color: #777;
   text-decoration: none;
}
 .form-control {
   border-radius: 0;
}

/* LARGE PHONE SIZE*/
@media (max-width: 48em) {
    h1 {
     font-size: 30px;
    }
    .subheading {
     font-size: 17px;
    }
    .small-break {
     display: block;
    }
    .header-content {
     padding: 10px 20px;
     width: 475px;
     min-height: 140px;

    }
    .header-content img {
    width: 125px;
    }
}

/* SMALL PHONE SIZE */
@media (max-width: 30em) {
}

/* DESKTOP SIZE */
@media (min-width: 64em) {
}