
body {
 font: 400 15px/1.8 Lato, sans-serif;
 color: #777;
 margin: 0;
}
.btn-group_1 {
    text-align: center;
    min-height: 60px;
}
.btn-group_2 {
    text-align: center;
    min-height: 60px;
    padding-bottom: 20px;
}
.toggle-btn-grp * {
    width:140px;
    height:30px;
    line-height:30px;
}
.toggle-btn-grp div {
    display:inline-block;
    position:relative;
    margin:10px 15px;
}
.toggle-btn-grp div label {
    position:absolute;
    text-align:center;
    background-color: rgba(169, 169, 169, 0.5);
    color: black;
    padding: 5px 10px;
}
.toggle-btn-grp div input {
    position:absolute;
    z-index:1;
    cursor:pointer;
    opacity:0;
}
.toggle-btn-grp div:hover label {
    border:solid 1px #a0d5dc !important; 
    background: rgb(169,169,169);
}
.toggle-btn-grp div input:checked + label {
    background: rgba(127, 127, 127, 0.7);
    box-shadow: inset 0 0 0 5px #3071A9;
    color: black;
    padding: 5px 10px;
}
 .header-text {
   color: white;
   float: left;
   text-align: left;
}
.subheading {
   font-size: 20px;
   line-height: 1.2em;
}
 .heading {
 font-size: 63px;
 margin-bottom: 0;
 margin-top: 0;
}
.chart_label {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.loading_div {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
h3, h4 {
   margin: 10px 0 15px 0;
   letter-spacing: 6px;
   font-size: 20px;
   color: #111;
}
h5 {
   font-size: 15px;
   color: #111;
   margin-bottom: -10px;
}
.main-image img {
   float: right;
   margin-right: 15px;
}
.background-container {
   background-color: rgba(177, 211, 237, 0.3);
}
.background-text {
    width: 800px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
}
.background-text h3 {
    text-align: center;
}
.chart-container {
   min-width: 310px;
   height: 400px;
}
.header {
   background-color: #2d2d30  ;
}
.header-content {
   min-height: 175px;
   text-align: center;
   padding: 20px 40px;
   width: 795px;
   margin: 0 auto;
}
.header-content img {
  width: 175px;
}
.btn {
    margin-right: 10px;
}
.detail-summary {
   margin-left: 280px;
   margin-bottom: 30px;
}
.btn {
   padding: 10px 20px;
   background-color: #808080;
   border-radius: 0;
   transition: .2s;
   color: black;
}
 .nav-tabs li a {
   color: #777;
}
footer {
   background-color: #2d2d30  ;
   color: #f5f5f5  ;
   padding: 22px;
   text-align: center;
   word-spacing: 2px;
}
footer a {
   color: #f5f5f5  ;
}
footer a:hover {
   color: #777;
   text-decoration: none;
}


/* LARGE PHONE SIZE*/
@media (max-width: 48em) {
    .heading {
     font-size: 30px;
    }
    .header-text {
    padding-left: 30px;
    }
    .subheading {
     font-size: 17px;
    }
    .small-break {
     display: block;
    }
    .header-content {
     padding: 10px 20px;
     width: 475px;
     min-height: 130px;

    }
    .header-content img {
    width: 125px;
    }
    .background-text {
        width: 490px;
        padding: 20px;
    }
}

/* SMALL PHONE SIZE */
@media (max-width: 30em) {
    .header-content img {
        width: 75px;
    }
    .header-content {
        width: 320px;
        min-height: 80px;
    }
    .header-text {
        padding-left: 20px;
    }
    .heading {
        font-size: 24px;
    }
    .subheading {
        font-size: 14px;
        margin-top: 0;
    }
    .btn-group {
        display: block;
    }
    .chart-container {
        margin: 10px 10px 10px 0;
    }
    .background-text {
        width: 285px;
    }
    .btn {
      display: block;
      margin-right: 0;
    }
    .btn-group {
      margin-top: 10px;
    }
    footer a {
      display: block;
    }
}

/* DESKTOP SIZE */
@media (min-width: 64em) {
}