
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gender Bias Simulator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="../static/main.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="../static/histogram.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Gender Bias Simulator</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#contact">CONTRIBUTE</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Container (The Image Section) -->
<div class="main-image">
  <img src="../static/img/restroom-male-female.png" width="400" height="200"></img>
</div>

<!-- Container (The Concept Section) -->
<div class="container text-center">
  <h3>THE CONCEPT</h3>
  <p>What is the impact of gender bias? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<div class="submit-buttons">
  <button class="button" type="submit" name="10%" data-bias="10"> 10% bias </button>
  <button class="button" type="submit" name="5%" data-bias="5"> 5% bias </button>
  <button class="button" type="submit" name="1%" data-bias="1"> 1% bias </button>
</div>

<div class="gender-buttons">
  <button type="submit" name="male" data-gender="male"> Bias towards Men </button>
  <button type="submit" name="female" data-gender="female"> Bias towards Women </button>
</div>

<!-- Container (Histogram) -->
<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto">
</div>

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Contribute to this project by aute irure dolor in reprehenderit in voluptate velit esse</p> 
</footer>

// <script>
// $(document).ready(function(){
//   // Initialize Tooltip
//   $('[data-toggle="tooltip"]').tooltip(); 
  
//   // Add smooth scrolling to all links in navbar + footer link
//   $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

//     // Prevent default anchor click behavior
//     event.preventDefault();

//     // Store hash
//     var hash = this.hash;

//     // Using jQuery's animate() method to add smooth page scroll
//     // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
//     $('html, body').animate({
//       scrollTop: $(hash).offset().top
//     }, 900, function(){
   
//       // Add hash (#) to URL when done scrolling (default click behavior)
//       window.location.hash = hash;
//     });
//   });
// })
// </script>


</body>
</html>
