<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gender Bias Simulator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/main.css" >    


    <!--favicon cross-browser/device stuff-->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/js/histogram.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>

<body >

<!-- (The Image Section) -->
<div class="header">
    <div class="header-content">
        <div class="header-text">
            <h1 class="heading">Gender Bias</h1>
            <h2 class="subheading">and its cumulative effect <span class="small-break"></span>on careers and organizations</h2>
        </div>
        <!--<div class="main-image">-->
        <img src="../static/img/teetertotter1.png"></img>
        <!--</div>-->
    </div>
</div>

<div class="chart_label_1">Currently Showing:</div>
<div id="chartLabel" class="chart_label"></div>

<!-- (Ajax Spinner) -->
<div id="loading_div" class="loading_div"><img src="../static/img/ajax-loader.gif"/></div> 

<!-- (The Chart) -->
<div id="container" class="chart-container"></div>

<!-- (The Buttons -->
<div class="all-buttons">
    <!--<div class="row">-->
        <div class="toggle-btn-grp btn-group_1">
            <div><input type="radio" onchange="dataHasChanged()" value="women" name="gender"/><label class="toggle-btn women">Bias favoring women</label></div>
            <div><input type="radio" onchange="dataHasChanged()" checked="checked" value="men" name="gender"/><label class="toggle-btn men">Bias favoring men</label></div>
        </div>
    <!--</div>-->
    <!--<div class="row">-->
        <div class="toggle-btn-grp btn-group_2">
            <div><input type="radio" onchange="dataHasChanged()" value="2" name="bias"/><label class="toggle-btn">2% bias</label></div>
            <div><input type="radio" onchange="dataHasChanged()" value="5" name="bias"/><label class="toggle-btn">5% bias</label></div>
            <div><input type="radio" onchange="dataHasChanged()" checked="checked" value="10" name="bias"/><label class="toggle-btn">10% bias</label></div>
        </div>
    <!--</div>-->
</div>

<!-- (The Concept Section) -->
<div class="background-container">
    <div class="background-text">
        <h3>HOW IT WORKS</h3>

        <p>This simulation creates an eight-level company with an equal number of women and men at each employee level. Level one is entry-level and level eight represents the executive level. </p>
        <p>The simulator completes 20 promotional cycles, which represents 2 performance reviews per year for 10 years.</p>
        <p>A 15% attrition rate is applied to every promotional cycle by removing 15% of the lowest ranking employees from all employee levels. </p>
        <p>Retained employees are randomly assigned performance-review scores from 1-100, or 1-100 + bias amount for the favored gender. Each new score is added to that employee’s previous performance-review scores.</p>
        <p><strong>Note:</strong> The simulator uses random selection for performance-review scores, so the results will have a small variance.</p>
        <p>The simulation was inspired by <a href="http://www.ruf.rice.edu/~lane/papers/male_female.pdf">"Male-Female Differences: A Computer Simulation"</a> and <a href="http://www.academia.edu/7444928/From_bias_to_exclusion_A_multilevel_emergent_theory_of_gender_segregation_in_organizations">“From bias to exclusion: A multilevel emergent theory of gender segregation in organizations”</a> and illustrates the impact of bias on a <a href="#" data-toggle="tooltip" title="We realize that gender is not binary and that other factors such as hiring bias and firing bias also have an impact." >simplified</a> dataset.</p>
    </div>
</div>

</body>

<!-- Footer -->
<footer class="text-center">
    <p>Contribute to this <a href="https://github.com/penelopy/bias_impact_project" target="_blank">OPEN SOURCE</a> project</p>
    <p><a href="http://penelopecodes.com" target="_blank">CONTACT</a> me with questions about this project</p>
</footer>
</html>
