<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gender Bias Simulator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/main.css" >    


    <!--favicon cross-browser/device stuff-->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/js/histogram.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- Quantcast Tag -->
    <script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push({
    qacct:"p-A_MFZmymdwUzd"
    });
    </script>

    <noscript>
    <div style="display:none;">
    <img src="//pixel.quantserve.com/pixel/p-A_MFZmymdwUzd.gif" border="0" height="1" width="1" alt="Quantcast"/>
    </div>
    </noscript>
    <!-- End Quantcast tag -->
</head>



<body >

<!-- (The Image Section) -->
<div class="header">
    <div class="header-content">
        <div class="header-text">
            <h1 class="heading">Gender Bias</h1>
            <h2 class="subheading">and its cumulative effect <span class="small-break"></span>on careers and organizations</h2>
        </div>
        <img src="../static/img/teetertotter1.png"></img>
    </div>
</div>

<div id="chartLabel" class="chart_label"></div>

<!-- (Ajax Spinner) -->
<div id="loading_div" class="loading_div"><img src="../static/img/ajax-loader.gif"/></div> 

<!-- (The Chart) -->
<div id="container" class="chart-container"></div>

<!-- (The Buttons -->
<div class="all-buttons">
        <div class="toggle-btn-grp btn-group">
            <div><input type="radio" onchange="dataHasChanged()" value="women" name="gender"/><label class="toggle-btn women">Bias favoring women</label></div>
            <div><input type="radio" onchange="dataHasChanged()" checked="checked" value="men" name="gender"/><label class="toggle-btn men">Bias favoring men</label></div>
        </div>
        <div class="toggle-btn-grp btn-group btn-group_2">
            <div><input type="radio" onchange="dataHasChanged()" checked="checked" value="1" name="bias"/><label class="toggle-btn">1% bias</label></div>
            <div><input type="radio" onchange="dataHasChanged()" value="5" name="bias"/><label class="toggle-btn">5% bias</label></div>
            <div><input type="radio" onchange="dataHasChanged()" value="10" name="bias"/><label class="toggle-btn">10% bias</label></div>
        </div>
</div>

<!-- (The Concept Section) -->
<div class="background-container">
    <div class="background-text">
        <h3>HOW IT WORKS:</h3>

        <h5>Overview</h5>
        <p>The simulation projects gender ratios for a theoretical company with eight hierarchical tiers, starting at entry-level (level 1) and proceeding to executive level (level 8). Gender bias is reflected in performance-review scores, which are used to determine who stays, who leaves, and who gets promoted.</p>

        <p>A total of 20 performance-review cycles are generated (representing 2 per year for 10 years). An employee’s performance-review scores are cumulative, and the cumulative totals are used to determine outcomes for each employee.</p>

        <p><i>It is important to note that this simulation reflects the effects of cisgender bias on performance reviews and promotions only. It does not reflect its effects on hiring or firing, nor does it reflect the additional bias that transgender people and people with non-binary gender identities may face in the workplace.</i></p>

        <h5>Details</h5>
        <p>Before the simulation begins, there is a 1:1 gender ratio at each level. Performance-review scores are then randomly generated for employees at every level.</p>
 
        <p>The selected type/amount of gender bias is reflected in performance review scores. For example, if a 5% bias in favor of men is selected, the randomly generated performance-review scores for men are padded by 5%.</p>

        <p>Once a cycle’s performance-review scores are generated, a 15% turnover rate is applied: 15% of employees at each level are randomly removed from the simulation. Next, any positions that have opened up (as a result of turnover) are filled by taking the highest-ranking performers (based on cumulative performance-review scores) from the preceding level.</p>

        <p>Note: Because performance-review scores are randomly generated, simulation outcomes may vary.</p>

        <h5>Acknowledgments</h5>
        <p>This simulation was inspired by <a href="http://www.ruf.rice.edu/~lane/papers/male_female.pdf" target="_blank">"Male-Female Differences: A Computer Simulation"</a> by Richard F. Martell, David M. Lane, and Cynthia Emrich  and <a href="http://www.academia.edu/7444928/From_bias_to_exclusion_A_multilevel_emergent_theory_of_gender_segregation_in_organizations" target="_blank">“From bias to exclusion: A multilevel emergent theory of gender segregation in organizations”</a> by Richard F. Martell, Cynthia Emrich and James Robinson-Cox.</p>

        <p>A special thanks to Eric Burke and Dina Westland at <a href="https://twitter.com/Square" target="_blank">Square</a> for giving me the opportunity to work on this project.</p>

    </div>
</div>

</body>

<!-- Footer -->
<footer class="text-center">
    <p>Contribute to this <a href="https://github.com/penelopy/bias_impact_project" target="_blank">OPEN SOURCE</a> project</p>
    <p><a href="https://twitter.com/penelopecodes" target="_blank">CONTACT</a> me with questions about this project</p>
</footer>
</html>
